* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-link-color: #004165;
  --nav-hover-color: #006da8;
  --navy-color: #004165;
  --main-bg-color: #fcf2de;
  --main-frame-color: #ffffff;
  --nav-bg-color: #ffffff;
  --secondery-frame-color: #004165;
  --font-dark: #000000;
}

html {
  font-family: 'Alegreya Sans SC', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

a:link, a:visited, a:active {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
  color: var(--nav-hover-color);
}

.nav-bar {
  display: flex;
  background-color: var(--nav-bg-color);
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  font-size: 18px;
  z-index: 20;
  justify-content: space-between;
}

/* span {
  align-items: right;
  justify-content: space-between;
  margin-right: 1rem;
} */

.nav-bar .social {
  justify-self: center;
}

.nav-bar .social i {
  color: var(--navy-color);
  margin-right: .5rem;
}

.nav-bar a {
  color: var(--navy-color);
  padding: 10px 20px;
  margin: 0 5px;
}

.nav-bar a:hover {
  color: var(--nav-hover-color);
}

ul {
  display: flex;
  list-style-type: none;
}

.nav-bar li {
  /* display: inline-block; */
  margin: 0 auto;
  font-weight: bold;
}

.logo {
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
}

.header-container {
  background: url(/img/dan-freeman-7Zb7kUyQg1E-unsplash.jpg)no-repeat center center/cover;
  height: 100vh;
  color: var(--font-dark);
  font-size: 60px;
  z-index: -10;
  opacity: 0.75;
  position: relative;
}

.main-frame-container {
  background-color: var(--main-frame-color);
  /*remove witdh and height after inserting content*/
  /* height: 250rem; */
  /* width: 90vw; */
  border-radius: .5rem;
  margin: 0 4.5rem;
  padding: 4.5rem 2rem;
  z-index: 2;
  position: relative;
  transform: translateY(-50px);
}

.article-1 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.article-2 {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

.pics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1.5vw;
}

.pics__item--1 {
  grid-column: 1 / span 4;
  grid-row: 5 / span 1;
}

.pics__item--2 {
  grid-column: 1 /span 2;
  grid-row: 2 /span 2;
}

.pics__item--3 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}

.pics__item--4 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.pics__item--5 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.pics__item--6 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
}

/* make the pic stay in the box no matter size */

.pics img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.secondary-frame {
  background-color: var(--secondery-frame-color);
  position: absolute;
  top: 120rem;
  width: 90vw;
  height: 25rem;
}

.footer {
  background-color: var(--navy-color);
  height: 10rem;
  color: white;
  font-size: 20px;
  /* z-index: 5; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.language {
  background-color: var(--navy-color);
  grid-row: 2 / span 1;
  margin-left: 1rem;
}

.language select {
  background-color: var(--navy-color);
  color: white;
}

.footer .text {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

/* .btn {

} */